$primary-color-dark:   white;
$primary-color:        white;
$primary-color-light:  #212121;
$primary-color-text:   #212121;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$font-stack: 'Lato', sans-serif;      